/cache/8/131/89.png
/cache/8/132/89.png
/cache/8/133/89.png
/cache/8/131/90.png
/cache/8/132/90.png
/cache/8/133/90.png
/cache/9/263/180.png
/cache/9/264/180.png
/cache/9/265/180.png
/cache/9/266/180.png
/cache/9/263/181.png
/cache/9/264/181.png
/cache/9/265/181.png
/cache/9/266/181.png
/cache/10/529/361.png
/cache/10/530/361.png
/cache/10/531/361.png
/cache/10/529/362.png
/cache/10/530/362.png
/cache/10/531/362.png
/out/production/JaVelo/cache/12/2121/1447.png
/out/production/JaVelo/cache/12/2122/1447.png
/out/production/JaVelo/cache/12/2123/1447.png
/out/production/JaVelo/cache/12/2124/1447.png
/out/production/JaVelo/cache/12/2121/1448.png
/out/production/JaVelo/cache/12/2122/1448.png
/out/production/JaVelo/cache/12/2123/1448.png
/out/production/JaVelo/cache/12/2124/1448.png
/out/production/JaVelo/cache/12/2121/1449.png
/out/production/JaVelo/cache/12/2122/1449.png
/out/production/JaVelo/cache/12/2123/1449.png
/out/production/JaVelo/cache/12/2124/1449.png
/cache/14/8491/5792.png
/cache/14/8492/5792.png
/cache/14/8493/5792.png
/cache/14/8494/5792.png
/cache/14/8491/5793.png
/cache/14/8492/5793.png
/cache/14/8493/5793.png
/cache/14/8494/5793.png
/cache/14/8495/5793.png
/cache/14/8493/5794.png
/cache/14/8494/5794.png
/cache/14/8495/5794.png
/cache/14/8493/5795.png
/cache/14/8494/5795.png
/cache/14/8495/5795.png
/cache/15/16984/11583.png
/cache/15/16985/11583.png
/cache/15/16986/11583.png
/cache/15/16987/11583.png
/cache/15/16984/11584.png
/cache/15/16985/11584.png
/cache/15/16986/11584.png
/cache/15/16987/11584.png
/cache/15/16984/11585.png
/cache/15/16985/11585.png
/cache/15/16986/11585.png
/cache/15/16987/11585.png
/cache/15/16984/11586.png
/cache/15/16985/11586.png
/cache/15/16986/11586.png
/cache/15/16987/11586.png
/cache/15/16984/11587.png
/cache/15/16985/11587.png
/cache/15/16986/11587.png
/cache/15/16987/11587.png
/cache/16/33970/23173.png
/cache/16/33971/23173.png
/cache/16/33972/23173.png
/cache/16/33970/23174.png
/cache/16/33971/23174.png
/cache/16/33972/23174.png
/cache/16/33976/23177.png
/cache/16/33977/23177.png
/cache/16/33978/23177.png
/cache/16/33976/23178.png
/cache/16/33977/23178.png
/cache/16/33978/23178.png
/cache/18/135885/92696.png
/cache/18/135886/92696.png
/cache/18/135887/92696.png
/cache/18/135885/92697.png
/cache/18/135886/92697.png
/cache/18/135887/92697.png
/out/production/JaVelo/lib/apiguardian-api-1.1.0.jar
/out/production/JaVelo/ch/epfl/javelo/data/Attribute.class
/out/production/JaVelo/ch_west/attributes.bin
/out/production/JaVelo/lausanne/attributes.bin
/out/production/JaVelo/ch/epfl/javelo/data/AttributeSet.class
/out/test/JaVelo/ch/epfl/javelo/data/AttributeSetTest.class
/out/test/JaVelo/ch/epfl/javelo/data/AttributeSetTestGiven.class
/out/production/JaVelo/ch/epfl/javelo/gui/BaseMapManager.class
/out/production/JaVelo/ch/epfl/javelo/Bits.class
/out/test/JaVelo/ch/epfl/javelo/BitsTest.class
/out/test/JaVelo/ch/epfl/javelo/BitsTestGiven.class
/out/production/JaVelo/ch/epfl/javelo/projection/Ch1903.class
/out/test/JaVelo/ch/epfl/javelo/projection/Ch1903Test.class
/out/production/JaVelo/ch_west.kml
/out/production/JaVelo/ch/epfl/javelo/routing/CityBikeCF.class
/out/production/JaVelo/.idea/codeStyles/codeStyleConfig.xml
/out/production/JaVelo/ch/epfl/javelo/routing/CostFunction.class
/out/production/JaVelo/ch/epfl/javelo/routing/Edge.class
/out/production/JaVelo/ch_west/edges.bin
/out/production/JaVelo/lausanne/edges.bin
/out/test/JaVelo/ch/epfl/javelo/routing/EdgeTest.class
/out/test/JaVelo/ch/epfl/javelo/routing/EdgeTestGiven.class
/out/production/JaVelo/resources/elevation_profile.css
/out/production/JaVelo/elevation_profile.css
/out/production/JaVelo/ch/epfl/javelo/routing/ElevationProfile.class
/out/production/JaVelo/ch/epfl/javelo/routing/ElevationProfileComputer.class
/out/test/JaVelo/ch/epfl/javelo/routing/ElevationProfileComputerTestGiven$FakeRoute.class
/out/test/JaVelo/ch/epfl/javelo/routing/ElevationProfileComputerTestGiven.class
/out/test/JaVelo/ch/epfl/javelo/routing/ElevationProfileTest.class
/out/test/JaVelo/ch/epfl/javelo/routing/ElevationProfileTestGiven.class
/out/production/JaVelo/ch_west/elevations.bin
/out/production/JaVelo/lausanne/elevations.bin
/out/production/JaVelo/resources/error.css
/out/production/JaVelo/error.css
/out/artifacts/rendu/etape1-projet.zip
/out/artifacts/rendu2/etape-2.zip
/out/artifacts/rendu3/etape-3.zip
/out/artifacts/rendu4/etape-4.zip
/out/artifacts/rendu5/etape-5.zip
/out/artifacts/rendu6/etape-6.zip
/out/production/JaVelo/ch/epfl/javelo/Functions$Constant.class
/out/production/JaVelo/ch/epfl/javelo/Functions$Sampled.class
/out/production/JaVelo/ch/epfl/javelo/Functions.class
/out/test/JaVelo/ch/epfl/javelo/FunctionsTest.class
/out/test/JaVelo/ch/epfl/javelo/FunctionsTestGiven.class
/out/production/JaVelo/ch/epfl/javelo/gui/GpxGenerator.class
/out/production/JaVelo/ch/epfl/javelo/data/Graph.class
/out/production/JaVelo/ch/epfl/javelo/data/GraphEdges.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphEdgesTest.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphEdgesTestGiven$TestCase.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphEdgesTestGiven.class
/out/production/JaVelo/ch/epfl/javelo/data/GraphNodes.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphNodesTest.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphNodesTestGiven.class
/out/production/JaVelo/ch/epfl/javelo/data/GraphSectors$Sector.class
/out/production/JaVelo/ch/epfl/javelo/data/GraphSectors.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphSectorsTest.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphSectorsTestGiven.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphTest.class
/out/test/JaVelo/ch/epfl/javelo/data/GraphTestGiven.class
/out/test/JaVelo/ch/epfl/javelo/JavaFXMiniAppTest.class
/out/test/JaVelo/JavaFXTest.class
/out/production/JaVelo/.idea/JaVelo.iml
/out/production/JaVelo/javelo.kml
/out/production/JaVelo/lib/junit-jupiter-5.7.0.jar
/out/production/JaVelo/lib/junit-jupiter-api-5.7.0.jar
/out/production/JaVelo/lib/junit-jupiter-engine-5.7.0.jar
/out/production/JaVelo/lib/junit-jupiter-params-5.7.0.jar
/out/production/JaVelo/lib/junit-platform-commons-1.7.0.jar
/out/production/JaVelo/lib/junit-platform-engine-1.7.0.jar
/out/production/JaVelo/.idea/libraries/JUnit_5_7_0.xml
/out/production/JaVelo/.idea/libraries/junit_jupiter.xml
/out/test/JaVelo/ch/epfl/javelo/routing/KmlPrinter.class
/out/production/JaVelo/lausanne.kml
/out/production/JaVelo/resources/map.css
/out/production/JaVelo/map.css
/out/production/JaVelo/ch/epfl/javelo/gui/MapViewParameters.class
/out/production/JaVelo/ch/epfl/javelo/Math2.class
/out/test/JaVelo/ch/epfl/javelo/Math2Test.class
/out/production/JaVelo/.idea/misc.xml
/out/production/JaVelo/.idea/modules.xml
/out/production/JaVelo/ch/epfl/javelo/routing/MultiRoute.class
/out/test/JaVelo/ch/epfl/javelo/routing/MultiRouteTest.class
/out/test/JaVelo/ch/epfl/javelo/routing/MultiRouteTest2.class
/out/test/JaVelo/ch/epfl/javelo/routing/MultiRouteTest3.class
/test/ch/epfl/javelo/routing/MultiRouteTest3.java
/out/test/JaVelo/ch/epfl/javelo/routing/MultiRouteTestGiven.class
/test/ch/epfl/javelo/routing/MultiRouteTestGiven.java
/out/production/JaVelo/ch_west/nodes.bin
/out/production/JaVelo/lausanne/nodes.bin
/out/production/JaVelo/ch_west/nodes_osmid.bin
/out/production/JaVelo/lausanne/nodes_osmid.bin
/out/production/JaVelo/lib/opentest4j-1.2.0.jar
/out/production/JaVelo/ch/epfl/javelo/projection/PointCh.class
/out/test/JaVelo/ch/epfl/javelo/projection/PointChTest.class
/out/production/JaVelo/ch/epfl/javelo/projection/PointWebMercator.class
/out/test/JaVelo/ch/epfl/javelo/projection/PointWebMercatorTest.class
/out/test/JaVelo/ch/epfl/javelo/projection/PointWebMercatorTestGiven.class
/out/production/JaVelo/ch/epfl/javelo/Preconditions.class
/out/test/JaVelo/ch/epfl/javelo/PreconditionsTest.class
/out/test/JaVelo/ch/epfl/Premierprogramme.class
/out/production/JaVelo/ch_west/profile_ids.bin
/out/production/JaVelo/lausanne/profile_ids.bin
/out/production/JaVelo/.idea/inspectionProfiles/profiles_settings.xml
/out/production/JaVelo/.idea/inspectionProfiles/Project_Default.xml
/out/test/JaVelo/ch/epfl/javelo/projection/ProjectionConversionsTest.class
/out/production/JaVelo/ch/epfl/javelo/Q28_4.class
/out/test/JaVelo/ch/epfl/javelo/Q28_4Test.class
/out/test/JaVelo/ch/epfl/javelo/Q28_4TestGiven.class
/out/production/JaVelo/.idea/artifacts/rendu2.xml
/out/production/JaVelo/.idea/artifacts/rendu3.xml
/out/production/JaVelo/.idea/artifacts/rendu4.xml
/out/production/JaVelo/.idea/artifacts/rendu5.xml
/out/production/JaVelo/.idea/artifacts/rendu6.xml
/out/artifacts/rendu_intermediaire/rendu-intermediaire.zip
/out/production/JaVelo/.idea/artifacts/rendu_intermediaire.xml
/out/production/JaVelo/ch/epfl/javelo/routing/Route.class
/out/production/JaVelo/ch/epfl/javelo/gui/RouteBean$1.class
/out/production/JaVelo/ch/epfl/javelo/gui/RouteBean.class
/out/production/JaVelo/ch/epfl/javelo/routing/RouteComputer$WeightedNode.class
/out/production/JaVelo/ch/epfl/javelo/routing/RouteComputer.class
/out/test/JaVelo/ch/epfl/javelo/routing/RouteComputerTest.class
/out/test/JaVelo/ch/epfl/javelo/routing/RouteComputerTestGiven.class
/test/ch/epfl/javelo/routing/RouteComputerTestGiven.java
/out/production/JaVelo/ch/epfl/javelo/gui/RouteManager.class
/out/production/JaVelo/ch/epfl/javelo/routing/RoutePoint.class
/out/test/JaVelo/ch/epfl/javelo/routing/RoutePointTest.class
/out/test/JaVelo/ch/epfl/javelo/routing/RoutePointTestGiven.class
/out/production/JaVelo/.idea/runConfigurations.xml
/out/production/JaVelo/ch_west/sectors.bin
/out/production/JaVelo/lausanne/sectors.bin
/out/production/JaVelo/.idea/dictionaries/Sidonie.xml
/out/production/JaVelo/ch/epfl/sigcheck/SignatureChecks_2.class
/out/production/JaVelo/ch/epfl/sigcheck/SignatureChecks_3.class
/out/production/JaVelo/ch/epfl/sigcheck/SignatureChecks_4.class
/out/production/JaVelo/ch/epfl/sigcheck/SignatureChecks_5.class
/out/production/JaVelo/ch/epfl/sigcheck/SignatureChecks_6.class
/sigcheck/ch/epfl/sigcheck/SignatureChecks_6.java
/out/production/JaVelo/ch/epfl/javelo/routing/SingleRoute.class
/out/test/JaVelo/ch/epfl/javelo/routing/SingleRouteTestGiven.class
/out/test/JaVelo/ch/epfl/javelo/gui/Stage8Test$ErrorConsumer.class
/out/test/JaVelo/ch/epfl/javelo/gui/Stage8Test.class
/out/test/JaVelo/ch/epfl/javelo/gui/Stage9Test$ErrorConsumer.class
/out/test/JaVelo/ch/epfl/javelo/gui/Stage9Test.class
/out/production/JaVelo/ch/epfl/javelo/projection/SwissBounds.class
/out/test/JaVelo/ch/epfl/javelo/projection/SwissBoundsTest.class
/out/production/JaVelo/src/temp
/out/production/JaVelo/temp
/out/test/JaVelo/ch/epfl/test/TestRandomizer.class
/out/production/JaVelo/ch/epfl/javelo/gui/TileManager$1.class
/out/production/JaVelo/ch/epfl/javelo/gui/TileManager$TileId.class
/out/production/JaVelo/ch/epfl/javelo/gui/TileManager.class
/out/production/JaVelo/.idea/uiDesigner.xml
/out/production/JaVelo/.idea/vcs.xml
/out/production/JaVelo/ch/epfl/javelo/gui/Waypoint.class
/out/production/JaVelo/ch/epfl/javelo/gui/WaypointsManager.class
/out/production/JaVelo/ch/epfl/javelo/projection/WebMercator.class
/out/test/JaVelo/ch/epfl/javelo/projection/WebMercatorTest.class
